<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>semsx</display-name>
  
  
  <!-- context 파라미터는 누구든 사용할 수 있다. -->
  <context-param>
    <param-name>driver</param-name>
    <param-value>com.mysql.jdbc.Driver</param-value>
  </context-param>
  <context-param>
    <param-name>url</param-name>
    <param-value>jdbc:mysql://192.168.200.77:3306/studydb</param-value>
  </context-param>
  <context-param>
    <param-name>username</param-name>
    <param-value>study</param-value>
  </context-param>
  <context-param>
    <param-name>password</param-name>
    <param-value>study</param-value>
  </context-param>
 
 <!-- ServletContextListener 등록 -->
 <listener>
  <listener-class>listeners.ContextLoaderListener</listener-class>
 </listener>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>